#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}


.main__container{
  flex-grow: 1;
  padding-left: 10%;
  padding-right: 10%;
}

.header__container{
  background-color: #bfbfbf;
  display: flex;
  justify-content: start;
  align-items: center;
}


.logo{
  width: 200px;
  height: 50px;
}